@import './variable.scss';
@import './mixin.scss';
.Banner{
    .Medsos{
        display:flex;
        svg{
            @include width-height(50px, 50px);
            border:3px solid $secondary-color;
            padding:5px;
            border-radius: 50%;
            margin-right:15px;
        }
    }
    h2{font-weight: normal; letter-spacing: 1px; width: 70%;}
    p{width:80%;}
}