@import './variable.scss';
@import './mixin.scss';
.Education{
    h1{ text-align: center;}
    h3{ color:$secondary-color; margin:0;}
    .FirstContent{
        @include justify-align(Center);
        @include width-height(100%, 70px);
        svg{
            @include absolute-top-left(-10px, -20px);
            z-index:1;
            @include width-height(40px,40px);
            border-radius:50%;
            background-color: $secondary-color;
            padding: 5px;
        }
    }
    .History{
        @include justify-align(Center);
        width:100%;
    }
}
.Year{
    width: 30%;
    h3{ text-align: right; padding-right: 20px;}
}
.Content{
    border-left: 3px solid $secondary-color;
    padding-left: 15px;
    position: relative;
    width: 50%;
    &::after{
       content: '';
       @include absolute-top-left(0, -7px);
       @include width-height(12px, 12px);
       background: $secondary-color;
       border-radius:50%;
    }
    li{
        margin-bottom: 12px;
    }
}